################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MemberListView/bin
/MemberListView/obj/Debug
/packages
/MemberList/App_Data
/MemberList/App_Plugins/MemberManager/backoffice
/MemberList/App_Plugins/MemberManager
/MemberList/bin
/MemberList/obj/Debug
/MemberList/umbraco
/MemberList/umbraco_client
/MemberList/obj/Release
/MemberListView/obj/Release
*.user
*.suo
/WebSample/obj
/WebSample/Umbraco
/WebSample/Umbraco_Client
/WebSample/Views
/WebSample/Media
/WebSample/Global.asax
/WebSample/default.aspx
/WebSample/bin
/WebSample/App_Browsers
/WebSample/App_Data/Logs
/WebSample/App_Data/NuGetBackup
/WebSample/App_Data/TEMP
