################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
/packages
/MemberList/App_Data
/MemberList/App_Plugins/MemberManager/backoffice
/MemberList/App_Plugins/MemberManager
/MemberList/umbraco
/MemberList/umbraco_client
*.user
*.suo
/WebSample/obj
/WebSample/Umbraco
/WebSample/Umbraco_Client
/WebSample/Views
/WebSample/Media
/WebSample/Global.asax
/WebSample/default.aspx
/WebSample/bin
/WebSample/App_Browsers
/WebSample/App_Data/Logs
/WebSample/App_Data/NuGetBackup
/WebSample/App_Data/TEMP
/.vs
/MemberListView/App_Data/NuGetBackup
