<div ng-controller="MemberManager.Dashboard.MemberListViewController" class="umb-editor umb-listview membermanager clearfix">
    <style>
        canvas {
            width: 100% !important;
            max-width: 800px;
            height: auto !important;
        }
    </style>

    <div class="row-fluid">
        <umb-editor-sub-header>
            <umb-editor-sub-header-content-left>
                <umb-editor-sub-header-section ng-if="(listViewAllowedTypes && listViewAllowedTypes.length > 0 && !isAnythingSelected()) && (currentNodePermissions == null || currentNodePermissions.canCreate)">
                    <div class="btn-group" ng-show="createAllowedButtonSingle">
                        <a class="btn" ng-click="createBlank(entityType,listViewAllowedTypes[0].alias)">
                            <localize key="actions_create">Create</localize> {{listViewAllowedTypes[0].name}}
                        </a>
                    </div>
                    <div class="btn-group" ng-show="createAllowedButtonMulti">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <localize key="actions_create">Create</localize>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="contentType in listViewAllowedTypes | orderBy:'name':false">
                                <a href="" ng-click="createBlank(entityType,contentType.alias)" prevent-default>
                                    <i class="{{contentType.icon}}"></i> {{contentType.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </umb-editor-sub-header-section>

                <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                    <umb-button type="button"
                                label="Clear selection"
                                label-key="buttons_clearSelection"
                                action="clearSelection()"
                                disabled="actionInProgress">
                    </umb-button>
                </umb-editor-sub-header-section>

                <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                    <strong ng-show="!actionInProgress">{{ selectedItemsCount() }} <localize key="general_of">of</localize> {{ listViewResultSet.items.length }} <localize key="general_selected">selected</localize></strong>
                    <strong ng-show="actionInProgress" ng-bind="bulkStatus"></strong>

                    <div class="umb-loader-wrapper -bottom" ng-show="actionInProgress">
                        <div class="umb-loader"></div>
                    </div>
                </umb-editor-sub-header-section>
            </umb-editor-sub-header-content-left>
            <umb-editor-sub-header-content-right>

                <umb-editor-sub-header-section ng-if="!isAnythingSelected()">
                    <form class="form-search -no-margin-bottom pull-right" novalidate>
                        <div class="inner-addon left-addon">
                            <i class="icon icon-search" ng-click="enterSearch($event)"></i>
                            <input class="form-control search-input"
                                   type="text"
                                   localize="placeholder"
                                   placeholder="@general_typeToSearch"
                                   ng-model="options.filterData.filter"
                                   ng-change="enterSearch()"
                                   ng-keydown="forceSearch($event)"
                                   prevent-enter-submit
                                   no-dirty-check>
                        </div>
                    </form>

                    <umb-button type="button"
                                button-style="link"
                                label="Filter"
                                label-key="memberManager_filter"
                                icon="icon-filter"
                                action="filter()"
                                disabled="actionInProgress">
                    </umb-button>

                    <umb-button ng-if="options.filterData.display"
                                type="link"
                                button-style="link"
                                label="Clear Filter"
                                label-key="memberManager_clearFilter"
                                icon="icon-block"
                                action="clearFilter()"
                                disabled="actionInProgress">
                    </umb-button>
                </umb-editor-sub-header-section>

                <umb-editor-sub-header-section ng-if="options.allowExport">
                    <umb-button type="button"
                                button-style="link"
                                label="Export"
                                label-key="memberManager_exportMembers"
                                icon="icon-download"
                                action="export()"
                                disabled="actionInProgress">
                    </umb-button>
                </umb-editor-sub-header-section>

                <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                    <span class="umb-status-label" ng-bind="vm.bulkStatus" ng-show="vm.isAnythingSelected()"></span>

                    <umb-button ng-if="canUnlock()"
                                type="button"
                                button-style="link"
                                label="Unlock"
                                label-key="actions_unlock"
                                icon="icon-unlocked color-green"
                                action="unlock()"
                                disabled="actionInProgress">
                    </umb-button>

                    <umb-button ng-if="canApprove()"
                                type="button"
                                button-style="link"
                                label="Approve"
                                label-key="actions_approve"
                                icon="icon-check color-green"
                                action="approve()"
                                disabled="actionInProgress">
                    </umb-button>

                    <umb-button ng-if="canSuspend()"
                                type="button"
                                button-style="link"
                                label="Suspend"
                                label-key="actions_suspend"
                                icon="icon-block color-red"
                                action="suspend()"
                                disabled="actionInProgress">
                    </umb-button>

                    <umb-button ng-if="options.allowBulkDelete"
                                type="button"
                                button-style="link"
                                label="Delete"
                                label-key="actions_delete"
                                icon="icon-trash color-red"
                                action="delete()"
                                disabled="actionInProgress">
                    </umb-button>

                </umb-editor-sub-header-section>

            </umb-editor-sub-header-content-right>
        </umb-editor-sub-header>
    </div>
    <div class="row-fluid">

        <div class="filter-display" ng-if="options.filterData.display">
            <div ng-repeat="displayFilter in options.filterData.display">
                <strong>{{displayFilter.title}}</strong>
                <span>{{displayFilter.value}}</span>
            </div>
        </div>
    </div>

    <umb-list-view-layout ng-if="viewLoaded"
                          content-id=""
                          folders="folders"
                          items="listViewResultSet.items"
                          selection="selection"
                          options="options"
                          entity-type="{{entityType}}"
                          on-get-content="getContent">
    </umb-list-view-layout>

    <umb-load-indicator ng-show="!viewLoaded"></umb-load-indicator>

    <div class="flex justify-center">
        <umb-pagination ng-if="listViewResultSet.totalPages"
                        page-number="options.pageNumber"
                        total-pages="listViewResultSet.totalPages"
                        on-next="next"
                        on-prev="prev"
                        on-go-to-page="goToPage">
        </umb-pagination>
    </div>

    <umb-overlay ng-if="ysodOverlay.show"
                 model="ysodOverlay"
                 position="right"
                 view="ysodOverlay.view">
    </umb-overlay>
</div>

