<div ng-controller="MemberManager.Dashboard.MemberListViewController as vm" class="umb-editor umb-listview clearfix" >
    <style>
        canvas {
            width: 100% !important;
            max-width: 800px;
            height: auto !important;
        }
    </style>

    <div class="row-fluid">
        <div class="umb-sub-header">

            <div class="btn-group" ng-show="vm.listViewAllowedTypes && vm.listViewAllowedTypes.length > 0">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <localize key="actions_create">Create</localize>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="">
                    <li ng-repeat="memberType in vm.listViewAllowedTypes">
                        <a href="#/{{entityType}}/{{entityType}}/edit/-1?doctype={{memberType.alias}}&create=true">
                            <i class="icon {{memberType.icon}}" ng-class="getIcon(memberType)"></i>
                            {{memberType.name}}
                        </a>
                    </li>
                </ul>
            </div>

            <umb-button-group ng-if="vm.filterButtonGroup"
                              default-button="vm.filterButtonGroup.defaultButton"
                              sub-buttons="vm.filterButtonGroup.subButtons">
            </umb-button-group>


            <!--<div class="btn-group ng-scope">
                <!-- primary button - ->
                <a class="btn btn-success" ng-click="filterMembers()" prevent-default>
                    <i class="icon icon-filter"></i>
                    Filter
                </a>
                <a class="btn btn-success dropdown-toggle ng-scope" data-toggle="dropdown">
                    <span class="caret"></span>
                </a>

                <!-- sub buttons - ->
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                        <a href="#" ng-click="clearFilter()" prevent-default>
                            <i class="icon icon-block"></i>
                            Clear Filter
                        </a>
                    </li>
                    <li ng-show="listViewResultSet.totalItems > 0">
                        <a href="#" ng-click="exportFiltered()" target="_self" prevent-default>
                            <i class="icon icon-download-alt"></i>
                            Export Members
                        </a>
                    </li>
                </ul>

            </div>-->

            <div class="btn-group" ng-show="vm.canUnlock()">
                <a class="btn btn-success" ng-disabled="vm.actionInProgress" ng-click="vm.unlock()" prevent-default>
                    <localize key="actions_unlock">Unlock</localize>
                </a>
            </div>
            <div class="btn-group" ng-show="vm.canApprove()">
                <a class="btn btn-success" ng-disabled="vm.actionInProgress" ng-click="vm.approve()" prevent-default>
                    <localize key="actions_approve">Approve</localize>
                </a>
            </div>
            <div class="btn-group" ng-show="vm.canSuspend()">
                <a class="btn btn-warning" ng-disabled="vm.actionInProgress" ng-click="vm.suspend()" prevent-default>
                    <localize key="actions_suspend">Suspend</localize>
                </a>
            </div>
            <div class="btn-group" ng-show="vm.isAnythingSelected()">
                <a class="btn btn-danger" ng-disabled="vm.actionInProgress" ng-click="vm.delete()" prevent-default>
                    <localize key="actions_delete">Delete</localize>
                </a>
            </div>

            <span class="umb-status-label" ng-bind="vm.bulkStatus" ng-show="vm.isAnythingSelected()"></span>
        </div>
    </div>
    <div class="row-fluid">

        <div class="filter-display" ng-if="vm.searchDisplay">
            <div ng-repeat="displayFilter in vm.searchDisplay">
                <strong>{{displayFilter.title}}</strong>
                <span>{{displayFilter.value}}</span>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div ng-if="vm.listViewResultSet.totalItems > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td style="width: 35px">
                            <input type="checkbox" ng-click="vm.selectAll($event)" ng-checked="vm.isSelectedAll()" no-dirty-check />
                        </td>
                        <td>
                            <a href="#" ng-click="vm.sort('Name')" prevent-default>
                                <localize key="general_name">Name</localize>
                                <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('Name', 'asc'), 'icon-navigation-up': isSortDirection('Name', 'desc')}"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="vm.sort('Email')" prevent-default>
                                Email
                                <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('Email', 'asc'), 'icon-navigation-up': isSortDirection('Email', 'desc')}"></i>
                            </a>
                        </td>
                        <td>
                            Status
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="result in vm.listViewResultSet.items"
                        ng-class="{selected:result.selected}">

                        <td>
                            <i class="icon {{result.icon}}" ng-class="getIcon(result)"></i>
                            <input type="checkbox" ng-model="result.selected" no-dirty-check />
                        </td>
                        <td>
                            <!-- ng-class="{inactive: entityType === 'content' && !result.published}"  - use this as a template to color based on locked/approved state -->
                            <a href="#" ng-click="editMember(result.key)" prevent-default>{{result.name}}</a>
                        </td>
                        <td>
                            {{result.email}}
                        </td>
                        <td>
                            <span title="{{vm.getLockedDescription(result)}}" ng-class="vm.getLockedIcon(result)"></span>
                            <span title="{{vm.getSuspendedDescription(result)}}" ng-class="vm.getSuspendedIcon(result)"></span>
                        </td>
                    </tr>
                </tbody>

                <tfoot ng-show="vm.pagination.length > 1">
                    <tr>
                        <th colspan="4">
                            <div class="pull-left">
                            </div>
                            <div class="pagination pagination-right">
                                <ul>
                                    <li ng-class="{disabled:vm.options.pageNumber <= 1}">
                                        <a href="#" ng-click="vm.prev()" prevent-default>
                                            <localize key="general_previous">Previous</localize>
                                        </a>
                                    </li>

                                    <li ng-repeat="pgn in vm.pagination"
                                        ng-class="{active:pgn.isActive}">

                                        <a href="#" ng-click="vm.goToPage(pgn.val - 1)" prevent-default
                                           ng-bind="pgn.name ? pgn.name : pgn.val"
                                           ng-if="pgn.val != '...'"></a>
                                        <span ng-bind="pgn.val" ng-if="pgn.val == '...'"></span>
                                    </li>

                                    <li ng-class="{disabled:vm.options.pageNumber >= vm.listViewResultSet.totalPages}">
                                        <a href="#" ng-click="vm.next()" prevent-default>
                                            <localize key="general_next">Next</localize>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </th>
                    </tr>
                </tfoot>

            </table>
        </div>
        <div class="no-results" ng-if="vm.listViewResultSet.totalItems == 0">
            No matching results
        </div>
    </div>
</div>

