<form novalidate name="contentForm"
      ng-controller="MemberManager.Dialogs.Member.FilterController"
      ng-submit="applyFilter()"
      val-form-manager
      class="umb-mini-editor">

    <div class="umb-panel">
        <div class="umb-panel-header">
            <h1>
                <localize key="memberManager_filter">Filter</localize>
            </h1>
        </div>
        <div class="umb-panel-body with-footer">
            <div class="umb-pane filter-options">
                <div class="umb-property">
                    <label class="control-label">Search</label>
                    <div class="controls controls-row">
                        <input type="text" ng-model="filterData.filter" />
                    </div>
                </div>
                <div class="umb-el-wrap" ng-show="memberTypes && memberTypes.length > 1">
                    <label class="control-label">Member Type</label>
                    <div class="controls controls-row">
                        <select ng-model="filterData.memberType">
                            <option value="">- All -</option>
                            <option ng-repeat="memberType in memberTypes" ng-value="{{memberType.alias}}">{{memberType.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="filter-checkbox-list" ng-show="memberGroupFilter && memberGroupFilter.length > 1">
                    <h5>Member Groups</h5>
                    <div class="filter-content">
                        <div ng-repeat="group in memberGroupFilter">
                            <input type="checkbox" ng-model="group.selected" id="group-{{group.id}}" />
                            <label class="control-label" for="group-{{group.id}}">{{group.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="umb-el-wrap">
                    <label class="control-label">Approved</label>
                    <div class="controls controls-row">
                        <select ng-model="filterData.f_umbracoMemberApproved">
                            <option value="">- All -</option>
                            <option value="true,1">Approved Only</option>
                            <option value="false,0">Suspended Only</option>
                        </select>
                    </div>
                </div>
                <div class="umb-el-wrap">
                    <label class="control-label">Locked Out</label>
                    <div class="controls controls-row">
                        <select ng-model="filterData.f_umbracoMemberLockedOut">
                            <option value="">- All -</option>
                            <option value="true,1">Locked Out Only</option>
                            <option value="false,0">Active Only</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <a ng-click="close()" class="btn btn-link">
                        <localize key="general_close">Close</localize>
                    </a>


                    <div class="btn-group dropup" ng-if="defaultButton">
                        <!-- primary button -->
                        <a class="btn btn-success" href="#" ng-click="performAction(defaultButton)" prevent-default>
                            <localize key="{{defaultButton.labelKey}}">{{defaultButton.label}}</localize>
                        </a>

                        <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" ng-if="subButtons.length > 0">
                            <span class="caret"></span>
                        </a>

                        <!-- sub buttons -->
                        <ul class="dropdown-menu bottom-up" role="menu" aria-labelledby="dLabel" ng-if="subButtons.length > 0">
                            <li ng-repeat="btn in subButtons">
                                <a href="#" ng-click="performAction(btn)" prevent-default>
                                    <localize key="{{btn.labelKey}}">{{btn.label}}</localize>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</form>