<div ng-controller="MemberManager.Dialogs.Member.FilterController">

    <umb-editor-view>
        <form novalidate name="export" class="form-horizontal" val-form-manager>

            <umb-editor-header name="model.title"
                               name-locked="true"
                               hide-alias="true"
                               hide-icon="true"
                               hide-description="true">
            </umb-editor-header>

            <umb-editor-container>
                <umb-box>
                    <umb-box-content class="control-flow-horizontal">
                        <umb-pane>
                            <umb-control-group localize="label" label="@general_search">
                                <input type="text" ng-model="vm.filterData.filter" />
                            </umb-control-group>

                            <umb-control-group ng-show="vm.memberTypes && vm.memberTypes.length > 1"
                                               localize="label" label="@memberManager_memberType">
                                <select ng-model="vm.filterData.memberType">
                                    <option ng-value=""><localize key="memberManager_optionAll">- All -</localize></option>
                                    <option ng-repeat="memberType in vm.memberTypes" ng-value="memberType.alias">{{memberType.name}}</option>
                                </select>
                            </umb-control-group>

                            <umb-control-group ng-show="vm.memberGroups && vm.memberGroups.length > 1"
                                               class="filter-options"
                                               localize="label" label="@memberManager_memberGroups">
                                <div class="filter-checkbox-list">
                                    <div class="filter-content">
                                        <div ng-repeat="group in vm.memberGroups">
                                            <input type="checkbox" ng-model="group.selected" id="group-{{group.id}}" />
                                            <label class="control-label" for="group-{{group.id}}">{{group.name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </umb-control-group>
                        </umb-pane>
                        <umb-pane>
                            <umb-control-group localize="label" label="@memberManager_approved">
                                <select ng-model="vm.filterData.umbracoMemberApproved">
                                    <option ng-value="null"><localize key="memberManager_optionAll">- All -</localize></option>
                                    <option ng-value="1"><localize key="memberManager_optionApprovedOnly">Approved Only</localize></option>
                                    <option ng-value="0"><localize key="memberManager_optionSuspendedOnly">Suspended Only</localize></option>
                                </select>
                            </umb-control-group>
                        </umb-pane>
                        <umb-pane>
                            <umb-control-group localize="label" label="@memberManager_lockedOut">
                                <select ng-model="vm.filterData.umbracoMemberLockedOut">
                                    <option ng-value="null"><localize key="memberManager_optionAll">- All -</localize>-</option>
                                    <option ng-value="1"><localize key="memberManager_optionLockedOutOnly">Locked Out Only</localize></option>
                                    <option ng-value="0"><localize key="memberManager_optionActiveOnly">Active Only</localize></option>
                                </select>
                            </umb-control-group>
                        </umb-pane>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>

                <umb-editor-footer>
                    <umb-editor-footer-content-right>
                        <umb-button type="button"
                                    button-style="link"
                                    label-key="general_close"
                                    shortcut="esc"
                                    action="model.close()">
                        </umb-button>

                        <umb-button-group default-button="defaultButton"
                                          sub-buttons="subButtons"
                                          direction="up"
                                          float="right">
                        </umb-button-group>

                    </umb-editor-footer-content-right>
            </umb-editor-footer>
        </form>

    </umb-editor-view>
</div>