.umb-listview.membermanager {
    a {
        text-decoration: none;
    }

    .umb-table__name {
        -ms-flex: 1 1 5%;
        flex: 1 1 5%;
        max-width: 20%;
    }

    .no-results {
        padding: 20px;
        background-color: #f8f8f8;
        border: 1px solid #dbdbdb;
        text-align: center;
        color: #999;
        margin-top: 20px;
    }
}

.filter-display {
    padding: 1em;
    background-color: #f8f8f8;
    border: 1px solid #dbdbdb;
    margin-bottom: 1em;

    > div {
        overflow: auto;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        strong {
            float: left;
            width: 180px;
            display: block;
        }

        span {
            float: left;
            width: auto;
        }
    }
}

.filter-options {

    .filter-display {
        margin-bottom: 0;
    }

    .filter-checkbox-list {
        margin-bottom: 1em;

        .filter-content {
            max-height: 10.4em;
            overflow-y: scroll;
            border: solid 1px #eee;
            border-radius: .25em;
        }

        .filter-content, .filter-header {
            padding: .5em;

            > div {
                overflow: auto;

                input[type="checkbox"] {
                    float: left;
                    /*margin-top: 10px;*/
                    margin-right: 10px;
                }

                label.control-label {
                    float: left;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    width: 90%;
                    font-weight: 400;
                }
            }
        }

        .filter-header {
            margin-bottom: .5em;
        }
    }
}
